<div class="orders">

  <div class="order-details">
    <div class="row-title">
      <div class="content-center1">
        Product
      </div>
      <div class="content-center">
        Quantity
      </div>
      <div class="content-center">
        Unit
      </div>
      <div class="content-center">
        Unit Rate
      </div>
      <div class="content-center">
        VAT%
      </div>
      <div class="content-center">
        Amount
      </div>
    </div>

    <div *ngFor="let item of currentOrder.items" class="order-row-list">

      <div class="content-center1">
        <input type="search"
               name="search"
               [class.empty]="isEmpty && item._id == recentItemId"
               [(ngModel)]="item.name"
               class="search"
               (keydown)="makeProductSuggestionVisible(currentOrder.items.indexOf(item),item);">
        <h4 >{{item.detail}} {{item.variant}}</h4>
      </div>
      <div class="content-center add-item">
        <div *ngIf="item.available == true">
          <button type='submit'
                  class='qtyminus'
                  (click)="item.qty=item.qty-1; item.amount=item.unitRate*item.qty; getTotalAmount()"
                  [disabled]="item.qty == 0">-</button>
          <input type='number'
                 [(ngModel)]="item.qty"
                 class='qty'>
          <button type='submit'
                  class='qtyplus'
                  (click)="item.qty=item.qty+1; item.amount=item.unitRate*item.qty; getTotalAmount()">+</button>
        </div>
      </div>
      <div class="content-center add-item">
        <h3 layout-margin>{{item.unit}}&nbsp;</h3>
      </div>
      <div class="content-center add-item">
        <h3 layout-margin>{{item.unitRate}}&nbsp;</h3>
      </div>
      <div class="content-center add-item">
        <h3 layout-margin>{{item.VAT}}%&nbsp;</h3>
      </div>
      <div class="content-center add-item">
        <h3 layout-margin>{{item.amount}}&nbsp;</h3>
      </div>
      <div class="delete-row">
        <span (click)="removeSelectedItem(item)">
          <img src="./app/order/images/delete.svg" width="16" height="16">
        </span>
      </div>

      <div class="search-auto-suggestion">
      <div *ngIf="isVisibleProductArray[currentOrder.items.indexOf(item)]">
        <div *ngFor=" let innerItem of (items| productsFilter:'filterBy': search )"
             (click)="selectItemFromFiltered(item,innerItem)"
             class="order-row-list">
          <div>
            <h4>{{innerItem.name}}</h4>
            <h4>{{innerItem.detail}}</h4>
          </div>
          <div>
            <h4>{{innerItem.unit}}</h4>
          </div>
          <div>
            <h4>{{innerItem.unitRate}}</h4>
          </div>
          <div>
            <h4>{{innerItem.VAT}}</h4>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="search-row">
      <div id="emptyRow">
      <input type="search"
             style="width: 100%; float: left;"
             name="search"
             placeholder="Search"
             [(ngModel)]="search"
             class="search"
             (keyup)="showProducts = true;"
             (click) = "checkCustomerSelected()"
             [readonly]="isReadOnly"
      >
    </div>
    <div class="content-center add-item">

      </div>
      <div class="search-auto-suggestion" *ngIf="showProducts">
        <div *ngFor="let item of (items| productsFilter:'filterBy': search )"
             (click)="selectThisItem(item)"
             class="order-row-list">
            <div>
              <h4>{{item.name}}</h4>
              <h4>{{item.detail}}</h4>
            </div>
            <div>
              <h4>{{item.unit}}</h4>
            </div>
            <div>
              <h4>{{item.unitRate}}</h4>
            </div>
            <div>
              <h4>{{item.VAT}}</h4>
            </div>
        </div>
      </div>
    </div>

    <div class="total-amount" *ngIf="currentOrder.items.length > 0">
      <label>
        <img src="./app/order/images/grand-total.svg" width="16" height="16"> Grand Total </label>
      <span>{{totalAmount}}</span>
    </div>


    <!--<input name="search"
           placeholder="Search"
           [(ngModel)]="search"
           class="search"
           (keyup)="showProducts = true"
           md-maxlength="10"
           flex="40">-->

  </div>

  </div>
