<div class="orders">
    <div style="float: left; width: 50%" [hidden]="isCustomerSelected">
       <h3> Shipping Address</h3>
          <p>{{currentCustomer.fromCompany}}</p>
          <p>{{currentCustomer.shippingAddress.line1}},</p>
          <p>{{currentCustomer.shippingAddress.line2}},</p>
          <p>{{currentCustomer.shippingAddress.pinCode}}, </p>
          <p>{{currentCustomer.shippingAddress.city}}, </p>
          <p>{{currentCustomer.shippingAddress.country}}, </p>
    </div>
    <div style="float: left; width: 50%" [hidden]="isCustomerSelected">
       <h3> Billing Address</h3>
          <p>{{currentCustomer.fromCompany}},
          <p>{{currentCustomer.billingAddress.line1}},</p>
          <p>{{currentCustomer.billingAddress.line2}},</p>
          <p>{{currentCustomer.billingAddress.pinCode}}, </p>
          <p>{{currentCustomer.billingAddress.city}}, </p>
          <p>{{currentCustomer.billingAddress.country}}, </p>
    </div>

</div>
