<div class="orders">

  <div class="order-details">
    <div layout="row" layout-wrap class="row-title">
      <div flex="30">
        Product
      </div>
      <div class="content-center1" flex="10">
        Quantity
      </div>
      <div class="content-center" flex="20">
        Unit
      </div>
      <div class="content-center" flex="10">
        Unit Rate
      </div>
      <div class="content-center" flex="10">
        VAT%
      </div>
      <div class="content-center" flex="10">
        Amount
      </div>
      <div class="content-center" flex="10">
        Action
      </div>
    </div>

    <div layout-wrap *ngFor="let item of currentOrder.items" layout="row" class="md-caption md-list-item-text order-row-list" flex >

      <div flex="30">
        <input type="search"
               name="search"
               [(ngModel)]="item.name"
               class="search"
               (keydown)="makeProductSuggestionVisible(currentOrder.items.indexOf(item)); search=item.name"
               md-maxlength="10">
        <h4 layout-margin>{{item.detail}} {{item.variant}}</h4>
      </div>
      <div class="content-center add-item" flex="10">
        <div *ngIf="item.available == true">
          <button type='submit'
                  class='qtyminus'
                  (click)="item.qty=item.qty-1; item.amount=item.unitRate*item.qty; getTotalAmount()"
                  [disabled]="item.qty == 0">-</button>
          <input type='number'
                 [(ngModel)]="item.qty"
                 class='qty'>
          <button type='submit'
                  class='qtyplus'
                  (click)="item.qty=item.qty+1; item.amount=item.unitRate*item.qty; getTotalAmount()">+</button>
        </div>
      </div>
      <div class="content-center add-item" flex="20">
        <h3 layout-margin>{{item.unit}}</h3>
      </div>
      <div class="content-center add-item" flex="10">
        <h3 layout-margin>{{item.unitRate}}</h3>
      </div>
      <div class="content-center add-item" flex="10">
        <h3 layout-margin>{{item.VAT}}%</h3>
      </div>
      <div class="content-center add-item" flex="10">
        <h3 layout-margin>{{item.amount}}</h3>
      </div>
      <div class="content-center add-item" flex="10">
        <span (click)="removeSelectedItem(item)" layout-margin >X</span>
      </div>

      <div *ngIf="isVisibleProductArray[currentOrder.items.indexOf(item)]">
        <div layout-wrap
             *ngFor="#innerItem of (items| productsFilter:'filterBy': search )"
             layout="row"
             (click)="selectItemFromFiltered(item,innerItem)"
             class="md-caption md-list-item-text order-row-list"
             flex >
          <div flex="40">
            <h4 layout-margin>{{innerItem.name}}</h4>
            <h4 layout-margin>{{innerItem.detail}}</h4>
          </div>
          <div flex="20">
            <h4 layout-margin>{{innerItem.unit}}</h4>
          </div>
          <div flex="20">
            <h4 layout-margin>{{innerItem.unitRate}}</h4>
          </div>
          <div flex="20">
            <h4 layout-margin>{{innerItem.VAT}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" layout-wrap class="row-title" *ngIf="currentOrder.items.length > 0">{{totalAmount}}</div>

    <div layout="row" layout-wrap class="row-title">
      <div flex="30" id="emptyRow">
      <input type="search"
             style="width: 100%; float: left;"
             name="search"
             placeholder="Search"
             [(ngModel)]="search"
             class="search"
             (keyup)="showProducts = true"
             md-maxlength="10" onblur="showProducts = false">
    </div>
    <div class="content-center add-item" flex="20">
      <div>
        <input type="text" style="width: 100%; float: left;">
        </div>
    </div>
    <div class="content-center add-item" flex="20">
      <h3 layout-margin><input type="text" style="width: 100%; float: left;"></h3>
    </div>
    <div class="content-center add-item" flex="10">
      <h3 layout-margin><input type="text" style="width: 100%; float: left;"></h3>
    </div>
    <div class="content-center add-item" flex="10">
      <h3 layout-margin><input type="text" style="width: 100%; float: left;"></h3>
    </div>
    <div class="content-center add-item" flex="10">
      <h3 layout-margin><input type="text" style="width: 100%; float: left;"></h3>
    </div>
    </div>

    <!--<input name="search"
           placeholder="Search"
           [(ngModel)]="search"
           class="search"
           (keyup)="showProducts = true"
           md-maxlength="10"
           flex="40">-->
    <div *ngIf="showProducts">
      <div layout-wrap
           *ngFor="let item of (items| productsFilter:'filterBy': search )"
           layout="row"
           (click)="selectThisItem(item)"
           class="md-caption md-list-item-text order-row-list"
           flex >
          <div flex="40">
          <h4 layout-margin>{{item.name}}</h4>
          <h4 layout-margin>{{item.detail}}</h4>
        </div>
          <div flex="20">
            <h4 layout-margin>{{item.unit}}</h4>
          </div>
          <div flex="20">
            <h4 layout-margin>{{item.unitRate}}</h4>
          </div>
          <div flex="20">
            <h4 layout-margin>{{item.VAT}}</h4>
          </div>
      </div>
    </div>
  </div>

  </div>
