$color_1: #ffffff;
$color_2: #8AC249;
$color_3: #000;
$color_4: rgba(0, 0, 0, 0.54);

md-list-item.md-no-style {
  padding: 0px;
}
.qty {
  width: 30px;
  height: 20px;
  text-align: center;
  float: left;
}
.qtyminus {
  border: 0;
  font-size: 19px;
  line-height: 7px;
  height: 26px;
  width: 22px;
  display: block;
  outline: none;
  background: #DADADA;
  float: left;
}
.qtyplus {
  border: 0;
  font-size: 19px;
  line-height: 7px;
  height: 26px;
  width: 22px;
  display: block;
  outline: none;
  background: #DADADA;
  float: left;
}
.add-item {
  margin: 3px 0px 0px;
}
.row-title {
  background: #B3B3B3;
  padding: 4px 12px 5px;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  div {
    color: $color_1;
  }
}
.content-center {
  text-align: center;
  button {
    margin: 0px;
  }
}
.order-row-list {
  background: #F2F2F2;
  margin: 0px 0px 2px 10px;
  padding: 10px;
  h4 {
    margin: 0px 0px;
    font-weight: normal;
    font-size: 13px;
  }
  h3 {
    margin: 2px 0px;
    font-weight: normal;
    font-size: 13px;
    color: $color_2;
  }
}
.order-details {
  height: 72vh;
  height: 72vh;
  overflow: auto;
  overflow: auto;
}
md-list-item {
  min-height: inherit;
}
.top-client-section {
  .md-avatar {
    margin: 0px 10px 0px 0px;
  }
}
.col-order-detail {
  .md-avatar {
    margin-top: 0px;
    margin-right: 0px;
  }
  .md-list-item-text {
    margin: 0px;
  }
  h2 {
    margin: 5px;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
  }
}
.assigned-select {
  label {
    float: left;
    padding: 6px 5px 0 0;
    font-size: 14px;
  }
  md-input-container {
    float: left;
    margin: 0;
  }
  .chat-icon {
    width: 26px;
    float: left;
    margin: 0px 0px 0px 10px;
  }
}
.status-update {
  label {
    float: left;
    padding: 6px 5px 0 0;
    font-size: 14px;
  }
}
md-radio-button {
  float: left;
  margin: 4px 0px;
  width: 27px;
}
.right-top-section {
  height: 42px;
  md-list-item {
    font-size: 14px;
    margin-bottom: 0px;
    text-align: right;
    h3 {
      font-size: 14px;
      margin-bottom: 0px;
      text-align: right;
      span {
        float: left;
        padding: 5px;
        width: 100px;
      }
    }
    div {
      padding: 0px;
    }
  }
}
.assigned-section {
  height: 32px;
  margin: 5px 15px 0px;
  font-size: 14px;
  h3 {
    margin: 0px 0px 15px;
    font-size: 16px;
  }
}
md-input-container {
  height: 40px;
  margin: 0px 0px 15px;
}
.place-order {
  .md-block {
    h3 {
      margin: 0px;
      font-size: 14px;
      color: $color_3;
      font-weight: normal;
    }
    padding: 0px 10px;
    label {
      font-size: 14px;
      color: $color_4;
      float: left;
    }
  }
  h3 {
    margin: 0px;
    font-size: 18px;
  }
}
.address-section {
  h3 {
    margin-left: 15px;
    span {
      margin-bottom: 5px;
      float: left;
      width: 100%;
    }
  }
}
input[type=number] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
.radio-btn {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background: #f16b4f;
        }
      }
    }
  }
  .control__indicator {
    background: #f16b4f;
  }
}
.radio-btn1 {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background-color: #fec61b;
        }
      }
    }
  }
  .control__indicator {
    background-color: #fec61b;
  }
}
.radio-btn2 {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background-color: #88c24c;
        }
      }
    }
  }
  .control__indicator {
    background-color: #88c24c;
  }
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked {
      &~.control__indicator {
        &:after {
          display: block;
        }
      }
    }
  }
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}
.control--checkbox {
  .control__indicator {
    &:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
.remove-button {
  button {
    text-transform: capitalize;
    padding: 0px;
    line-height: 28px;
    border-radius: 0;
    min-width: 73px;
    background: none;
    box-shadow: 0px 0px 0px;
  }
}
.button {
  text-transform: capitalize;
  padding: 1px 10px;
  line-height: 28px;
  border-radius: 0;
}
.cancel {
  float: right;
}
.datepicker {
  width: 130px;
}
.customer-details {
  h3 {
    margin: 0px 0px 15px;
    font-size: 16px;
  }
}

.show-details {
  background: #78B1BA;
  padding: 5px 10px;
  display: inline-block;
  width: 97%;
  span {
    color: #fff;
    float: right;
  }
}
.client-section {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
  }
}
.show-details {
  float: right;
}

/*checkout bar css */

@mixin gray-stripe {
background-size: 35px 35px;
background-color: #EcEcEc;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%,transparent 75%, transparent);
}

@mixin blue-stripe {
background-size: 35px 35px;
background-color: #59B2A8;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
}

@mixin green-stripe {
background-size: 35px 35px;
background-color: #FBB03B;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
}

@mixin inner-shadow {
-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2); box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
}
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
.checkout-wrap {
  color: #444;
  margin: 40px auto;
  position: relative;
  text-align: center;
}
ul.checkout-bar {
  li {
    color: #ccc;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px 14px 80px;
    position: relative;
    &:before {
      @include inner-shadow;
      background: #ddd;
      border: 2px solid #FFF;
      border-radius: 50%;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      left: 20px;
      line-height: 37px;
      height: 35px;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      top: 4px;
      width: 35px;
      z-index: 999;

    }
    span {
      color: #ccc;
    }
    my-date-picker  {
      background: #ccc;
      display: inline-block;
      color: #fff;
      border-radius: 16px;
      outline: none;
    }
     &.active {
      color: #FBB03B;
      font-weight: bold;
      &:before {
        background: #FBB03B;
        z-index: 99999;
      }
      span {
        color: #FBB03B;
      }
      my-date-picker  {
        background: #FBB03B;
        display: inline-block;
        color: #fff;
        border-radius: 16px;
        outline: none;
      }
    }
    &.visited {
      background: #ECECEC;
      color: #59B2A8;
      z-index: 99999;
      &:before {
       background: #59B2A8;
        z-index: 99999;
      }
      span {
        color: #59B2A8;
      }
      .mydp {
        background: #59B2A8;
      }
      my-date-picker  {
        background: #59B2A8;
        display: inline-block;
        color: #fff;
        border-radius: 16px;
        outline: none;
      }
    }
    &:nth-child(1) {
      &:before {
        content: "";
        background-image: url("../app/share/images/order-recieved.svg");
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 5px 4px;
      }
    }
     &:nth-child(2) {
      &:before {
        content: "";
        background-image: url("../app/share/images/order-placed.svg");
        background-size: 23px 23px;
        background-repeat: no-repeat;
        background-position: 8px 7px;
      }
    }
    &:nth-child(3) {
      &:before {
        content: "";
        background-image: url("../app/share/images/in-transit.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 5px 7px;
      }
    }
     &:nth-child(4) {
      &:before {
        content: "";
        background-image: url("../app/share/images/delivered.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 5px 7px;
      }
    }
  }
  span {
    color: #57aed1;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    margin-bottom: 4px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

select {
  background-color: #78B1BA;
  width: 100px;
  padding: 0px 20px 0px 10px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 22px;
  height: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  color: #fff;
  margin-top: 8px;
  background-image: url("../app/share/images/down-arrow.svg");
  background-size: 9px 6px;
  background-repeat: no-repeat;
  background-position: 83px 9px;
}


 .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    @include green-stripe;
    @include inner-shadow;
    content:"";
    height: 4px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -21px;
    z-index: 0;
  }
  .checkout-wrap {
    margin:35px auto 80px auto;
  }
  ul.checkout-bar {
  /*@include inner-shadow;
  @include gray-stripe;*/
  border-radius: 15px;
  height: 4px;
  margin: 0 auto;
  padding: 0;
  /*position: absolute;*/
  width: 100%;
  /*&:before {
    @include blue-stripe;
    @include inner-shadow;
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }*/
   li {
      display: inline-block;
      margin: 15px 0 0;
      padding: 0;
      text-align: center;
      width: 20%;
      &:before {
        height: 35px;
        left: 38%;
        line-height: 35px;
        position: absolute;
        top: -40px;
        width: 35px;
        z-index: 99;
      }
      &.visited {
        background: none;
        &:after {
          @include blue-stripe;
          @include inner-shadow;
          content: "";
          height: 4px;
          left: 50%;
          position: absolute;
          top: -21px;
          width: 100%;
          z-index: 99;
        }
      }
    }
  }

.customer-details {
  display: inline-block;
  width: 100%;
  height: 100px;
  .select-customer,
  .assigned-customer {
    float: left;
    width:15%;
    text-align: center;
    margin-top: 9px;
  }
  .checkout-section {
    float: left;
    width:70%;
  }
}
@media screen and (max-width: 1200px) {
  ul.checkout-bar::before {
      left: 38% !important;
  }
  ul.checkout-bar li{
    margin: 15px 0 0 6px ;
    &:before {
      left: 38% !important;
    }
  }
  .client-img {
    margin: 5px 10px 0px 10px;
  }
}


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100000;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow:auto;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 50%;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.modalDialog .close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}


@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.appear-animation {
    opacity: 0;
}

.appear-animation-visible {
  opacity: 1;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
