<div class="orders">

  <div layout="row" layout-xs="column" class="right-top-section">
    <div flex>
      <md-list layout="column">
        <md-list-item class="md-3-line col-order-detail">
          <img src="app/share/images/avtars/{{task.assignedTo}}.jpg" class="md-avatar" >
          <div class="md-list-item-text">
            <h2 *ngIf="orderStage === 'createOrder'">Create Order</h2>
            <h2 *ngIf="orderStage === 'preview'">Preview Items</h2>
            <h2 *ngIf="orderStage === 'basicDetails'">Enter Other Details</h2>
            <h2 *ngIf="orderStage === 'fullPreview'">Order Details</h2>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list layout="column" layout-align="end end">
        <md-list-item class="md-3-line col-order-detail">
          <div class="md-list-item-text">
            <!--<h3>Order Date : <input class="datepicker" type="date" [(ngModel)]="task.assignedOn"/></h3>-->
            <h3>Order Date : <my-date-picker [options]="myDatePickerOptions"
                                             (dateChanged)="onDate1Changed($event)"
                                             [selDate]="selectedDate1"></my-date-picker></h3>
            <!--<h3>Delivery Date : <input  class="datepicker" type="date" [(ngModel)]="task.completeBy"/></h3>-->
            <h3>Delivery Date : <my-date-picker [options]="myDatePickerOptions"
                                             (dateChanged)="onDate2Changed($event)"
                                             [selDate]="selectedDate2"></my-date-picker></h3>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div layout="row" layout-xs="column" class="assigned-section">
    <div flex class="assigned-select" flex="40">
      <label flex="100" layout="column">Assigned to :</label>
      <md-input-container class="md-block" flex-gt-sm flex>
        <select [(ngModel)]="task.assignedTo">
          <option>Swapnil</option>
          <option>Waqar</option>
          <option>Chetan</option>
          <option>Parag</option>
          <option>Sudhakar</option>
        </select>
      </md-input-container>
      <img src="app/order/images/chat-box.svg" class="chat-icon" >
    </div>

    <div flex class="status-update">
      <label flex="100" layout="column">Status :</label>
      <div class="radio-btn">
        <label class="control control--checkbox">
          <input value="Running Late" type="checkbox"
                 (click)="task.status = 'Running Late'"
                 [checked]="task.status == 'Running Late'">
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="radio-btn1">
        <label class="control control--checkbox">
          <input value="Running Late" type="checkbox"
                 (click)="task.status = 'In Progress'"
                 [checked]="task.status == 'In Progress'">
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="radio-btn2">
        <label class="control control--checkbox">
          <input value="Running Late" type="checkbox"
                 (click)="task.status = 'Completed'"
                 [checked]="task.status == 'Completed'">
          <div class="control__indicator"></div>
        </label>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>

</div>
