@import "../../../app/variable.scss";
.tableClass {
  display: inline-block;
  padding: 0px 10px;
}
.qty-container {
  display: flex;
}
.qtyminus {
  border: 0;
  font-size: 19px;
  line-height: 7px;
  height: 26px;
  width: 22px;
  display: block;
  outline: none;
  background: $oa-default-color-19;
  float: left;
  visibility: hidden;
  order: -1;

}
.qtyplus {
  border: 0;
  font-size: 19px;
  line-height: 7px;
  height: 26px;
  width: 22px;
  display: block;
  outline: none;
  background: $oa-default-color-19;
  float: left;
  visibility: hidden;

}
.qty {
  width: 30px;
  height: 20px;
  text-align: center;
  float: left;
}
.search::-webkit-search-cancel-button {
  display: none;
}
.qty-container {
  position: relative;
  &:hover > button {
      visibility: visible !important;
  }
}
.add-item {
  margin: 3px 0px 0px;
}
.row-title {
  background: $oa-default-color-34;
  padding: 4px 0px 5px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  float: left;
  div {
    color: $oa-default-color-10;
  }
}
.search-row {
  padding: 4px 0px 5px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  position: relative;
  float: left;
  border-top: 1px solid $oa-default-color-5;
  border-bottom: 1px solid $oa-default-color-5;
  input {
    width: 37% !important;
    padding: 4px;
    margin-left: 10px;
    border: 1px solid $oa-default-color-5;
  }
}
.total-amount {
  color: $oa-default-color-10;
  float: left;
  background: #7b9fa8;
  width: 100%;
  margin-left: 0px;
  padding: 7px 0px;
  text-align: right;
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.delete-row {
  display: none;
  position: absolute;
  right: 9px;
  top: 16px;
  cursor: pointer;
  img {
    width: 21px;
    height: 21px;
  }
}
.order-row-list:hover .delete-row {
  display: block;
}
.order-row-list:hover .qty-container > button  {
  visibility: visible !important;
}
.order-row-list:hover .content-center1 input {
  border: 1px solid $oa-default-color-5;
}

.search-auto-suggestion {
  display: inline-block;
  width: 35.8%;
  margin: 0 0 0 10px;
  max-height: 300px;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 31px;
  z-index: 1;
  background: $oa-default-color-21;
  .order-row-list {
    margin: 0px 0px 1px;
    width: 98.4%;
    padding: 10px;
    border-bottom: 1px solid $oa-default-color-36;
    background: none;
  }
}
.content-center {
  text-align: center;
  button {
    margin: 0px;
  }
}
.order-row-list {
  margin: 0px 0px 1px 0px;
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  float: left;
  position: relative;
  h4 {
    margin: 0px 0px;
    font-weight: normal;
    font-size: 13px;
  }
  h3 {
    margin: 2px 0px;
    font-weight: normal;
    font-size: 13px;
    color: $oa-default-color-12;
  }
}
.order-details {
  height: 72vh;
  height: 72vh;
  overflow: auto;
  overflow: auto;
  margin-top: -4px;
}
.col-order-detail {
  h2 {
    margin: 5px;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
  }
}
.assigned-select {
  label {
    float: left;
    padding: 6px 5px 0 0;
    font-size: 14px;
  }
  .chat-icon {
    width: 26px;
    float: left;
    margin: 0px 0px 0px 10px;
  }
}
.status-update {
  label {
    float: left;
    padding: 6px 5px 0 0;
    font-size: 14px;
  }
}
.right-top-section {
  height: 42px;
}
.assigned-section {
  height: 32px;
  margin: 5px 15px 0px;
  font-size: 14px;
  h3 {
    margin: 0px 0px 15px;
    font-size: 16px;
  }
}
.place-order {
  .md-block {
    h3 {
      margin: 0px;
      font-size: 14px;
      color: $oa-default-color-11;
      font-weight: normal;
    }
    padding: 0px 10px;
    label {
      font-size: 14px;
      color: $oa-default-color-12;
      float: left;
    }
  }
  h3 {
    margin: 0px;
    font-size: 18px;
  }
}
.address-section {
  h3 {
    margin-left: 15px;
    span {
      margin-bottom: 5px;
      float: left;
      width: 100%;
    }
  }
}
input[type=number] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
.radio-btn {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background: $oa-default-color-22;
        }
      }
    }
  }
  .control__indicator {
    background: $oa-default-color-22;
  }
}
.radio-btn1 {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background-color: $oa-default-color-23;
        }
      }
    }
  }
  .control__indicator {
    background-color: $oa-default-color-23;
  }
}
.radio-btn2 {
  float: left;
  width: 25px;
  top: 0;
  .control {
    input {
      &:checked {
        &~.control__indicator {
          background-color: $oa-default-color-24;
        }
      }
    }
  }
  .control__indicator {
    background-color: $oa-default-color-24;
  }
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: $oa-default-color-10;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked {
      &~.control__indicator {
        &:after {
          display: block;
        }
      }
    }
  }
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $oa-default-color-30;
  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}
.control--checkbox {
  .control__indicator {
    &:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid $oa-default-color-10;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
.remove-button {
  button {
    text-transform: capitalize;
    padding: 0px;
    line-height: 28px;
    border-radius: 0;
    min-width: 73px;
    background: none;
    box-shadow: 0px 0px 0px;
  }
}
.button {
  text-transform: capitalize;
  padding: 1px 10px;
  line-height: 28px;
  border-radius: 0;
}
.cancel {
  float: right;
}
.datepicker {
  width: 130px;
}
.customer-details {
  h3 {
    margin: 0px 0px 15px;
    font-size: 16px;
  }
}

.show-details {
  background: $oa-default-color-25;
  padding: 5px 0px;
  display: inline-block;
  width: 100%;
  span {
    color: $oa-default-color-10;
    float: right;
    padding-right: 10px;
    font-size: 14px;
  }
}
.client-section {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $oa-default-color-5;
  }
}
.show-details {
  float: right;
  cursor: pointer;
  img {
    float: right;
    width: 14px;
    height: 15px;
    padding: 1px 0 0 5px;
  }
}

/*checkout bar css */

@mixin gray-stripe {
background-size: 35px 35px;
background-color: $oa-default-color-27;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%,transparent 75%, transparent);
}

@mixin blue-stripe {
background-size: 35px 35px;
background-color: $oa-default-color-28;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
}

@mixin green-stripe {
background-size: 35px 35px;
background-color: $oa-default-color-26;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
}

@mixin inner-shadow {
-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2); box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
}
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
.checkout-wrap {
  color: $oa-default-color-31;
  margin: 40px auto;
  position: relative;
  text-align: center;
}
ul.checkout-bar {
  li {
    color: $oa-default-color-5;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px 14px 80px;
    position: relative;
    &:before {
      @include inner-shadow;
      background: $oa-default-color-7;
      border: 2px solid $oa-default-color-10;
      border-radius: 50%;
      color: $oa-default-color-10;
      font-size: 16px;
      font-weight: 700;
      left: 20px;
      line-height: 37px;
      height: 35px;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      top: 4px;
      width: 35px;
      z-index: 999;

    }
    span {
      color: $oa-default-color-5;
    }
    my-date-picker  {
      background: $oa-default-color-5;
      display: inline-block;
      color: $oa-default-color-10;
      border-radius: 16px;
      outline: none;
    }
     &.active {
      color: $oa-default-color-26;
      font-weight: bold;
      &:before {
        background: $oa-default-color-26;
        z-index: 99999;
      }
      span {
        color: $oa-default-color-26;
      }
      my-date-picker  {
        background: $oa-default-color-26;
        display: inline-block;
        color: $oa-default-color-10;
        border-radius: 16px;
        outline: none;
      }
    }
    &.visited {
      background: $oa-default-color-27;
      color: $oa-default-color-28;
      z-index: 99999;
      &:before {
       background: $oa-default-color-28;
        z-index: 99999;
      }
      span {
        color: $oa-default-color-28;
      }
      .mydp {
        background: $oa-default-color-28;
      }
      my-date-picker  {
        background: $oa-default-color-28;
        display: inline-block;
        color: $oa-default-color-10;
        border-radius: 16px;
        outline: none;
      }
    }
    &:nth-child(1) {
      &:before {
        content: "";
        background-image: url("../app/share/images/order-recieved.svg");
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 5px 4px;
      }
    }
     &:nth-child(2) {
      &:before {
        content: "";
        background-image: url("../app/share/images/order-placed.svg");
        background-size: 23px 23px;
        background-repeat: no-repeat;
        background-position: 8px 7px;
      }
    }
    &:nth-child(3) {
      &:before {
        content: "";
        background-image: url("../app/share/images/in-transit.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 5px 7px;
      }
    }
     &:nth-child(4) {
      &:before {
        content: "";
        background-image: url("../app/share/images/delivered.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 5px 7px;
      }
    }
  }
  span {
    color: $oa-default-color-29;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    margin-bottom: 4px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

select {
  background-color: $oa-default-color-25;
  width: 100px;
  padding: 0px 20px 0px 10px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 22px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  color: $oa-default-color-10;
  margin-top: 8px;
  background-image: url("../app/share/images/down-arrow.svg");
  background-size: 9px 6px;
  background-repeat: no-repeat;
  background-position: 83px 7px;
}
.checkout-bar li.active:after {
  -webkit-animation: myanimation 3s 0;
  @include green-stripe;
  @include inner-shadow;
  content:"";
  height: 4px;
  width: 100%;
  left: 50%;
  position: absolute;
  top: -21px;
  z-index: 0;
}
.checkout-wrap {
  margin:35px auto 80px auto;
}
ul.checkout-bar {
/*@include inner-shadow;
@include gray-stripe;*/
border-radius: 15px;
height: 4px;
margin: 0 auto;
padding: 0;
width: 100%;
 li {
    display: inline-block;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    width: 20%;
    &:before {
      height: 35px;
      left: 38%;
      line-height: 35px;
      position: absolute;
      top: -40px;
      width: 35px;
      z-index: 99;
    }
    &.visited {
      background: none;
      &:after {
        @include blue-stripe;
        @include inner-shadow;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        top: -21px;
        width: 100%;
        z-index: 99;
      }
    }
  }
}
.product-list {
  max-height: 200px;
  overflow-y: auto;
  float: left;
  width: 100%;
}
.orders {
    display: inline-block;
    width: 100%;
  }
.customer-details {
  display: inline-block;
  width: 100%;
  float: left;
  max-height: 100px;
  .select-customer,
  .assigned-customer {
    float: left;
    width:15%;
    text-align: center;
    margin-top: 9px;
  }
  .checkout-section {
    float: left;
    width:70%;
  }
}
@media screen and (max-width: 1200px) {
  ul.checkout-bar::before {
      left: 38% !important;
  }
  ul.checkout-bar li{
    margin: 15px 0 0 6px ;
    &:before {
      left: 38% !important;
    }
  }
  .client-img {
    margin: 5px 10px 0px 10px;
  }
  .modalDialog {
    margin-bottom: 60px !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
.modalDialog {
    margin-bottom: 60px !important;
  }
}
.create-customer-modal {
  position: fixed;
  z-index: 999999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modalDialog {
  background-color: #fefefe;
  margin: auto;
  padding: 0 ;
  border: 1px solid #888;
  width: 600px;
  position: relative;
  font-weight: 200;
  overflow-y: auto; 
  h3 {
    margin: 0px;
    padding: 10px;
    background: $oa-default-color-25;
    color: $oa-default-color-3;
    font-size: 16px;
    span {
      float: right;
      font-size: 15px;
      cursor: pointer;
    }
  }
  h4 {
    font-size: 16px;
    margin: 20px 0px 10px;
    padding: 0px 5px;
    font-weight: 200;
    color: $oa-default-color-35;
    label {
      float: right;
      font-weight: 200;
    }
  }
  .row1 {
    display: inline-block;
    width: 100%;
    .form-group {
      float: left;
      width: 48%;
      margin: 0px 1%;
      input {
        border: 0px;
        width: 100%;
        padding: 8px 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid $oa-default-color-5;
        &:focus {
          outline: none;
        }
      }
    }
    select {
      width: 100%;
      height: 30px;
      border-radius: 0;
      font-weight: 200;
      border-bottom: 1px solid $oa-default-color-5;
      color: $oa-default-color-12;
      background: url("../app/share/images/down-arrow-black.svg") no-repeat 99% 14px transparent;
      background-size: 9px 6px !important ;
      margin-bottom: 10px;
      padding: 0px;
    }
  }
}
.button {
  background: $oa-default-color-26;
  display: inline-block;
  padding: 4px 30px;
  float: right;
  border: 0px;
  margin: 10px;
  color: $oa-default-color-10;
  cursor: pointer;
}
.content-center {
  width: 12%;
  float: left;
}
.content-center1 {
  width: 38%;
  float: left;
  margin-left: 10px;
  input {
    border: 1px solid transparent;
    min-width: 30px;
    padding: 4px 0px;
    &:hover {
      border: 1px solid $oa-default-color-5;
      -webkit-apperance: none;
    }
  }
  span {
    font-size: 14px;
  }
}
@keyframes blink { 50% { border-color: #ff0000; }  }

.empty {
  border : 2px solid #78B1BA;
  animation: blink .5s step-end infinite alternate;
}
.notSelected {
  border : 2px solid #78B1BA;
  animation: blink .5s step-end infinite alternate;
}
.address-section {
  background: $oa-default-color-21;
  display: inline-block;
  width: 100%;
  .shipping-address,
  .billing-address {
    float: left;
    width: 50%;
    padding: 0px 0px;
    h3 {
      background: $oa-default-color-25;
      padding: 8px 11px 8px;
      margin: 0px 0px 0px 0px;
      font-size: 14px;
      display: inline-block;
      width: 97%;
      position: relative;
      float: left;
      color: $oa-default-color-10;
      font-weight: normal;
    }
    p {
      margin : 0px;
      padding: 8px 10px 0;
      font-size: 14px;
      display: inline-block;
      width: 100%;
    }
  }
}