<div class="orders">
   <a href="/#openModal">Open Modal</a>
   <div  id="openModal"  class="modalDialog">
     <div class="tableClass " layout-padding >
       <a href="#close" title="Close" class="close">X</a>
       <h3>Add New Customer</h3>
       <div layout-gt-sm="row">
         <div layout-gt-sm="row" >
           <md-input-container class="md-block" >
             <label>Compnay Name</label>
             <input md-input [(ngModel)] = "newCustomer.fromCompany">
           </md-input-container>
         </div>
         <div layout-gt-sm="row" >
           <md-input-container class="md-block" >
             <label>Contact Person</label>
             <input md-input [(ngModel)] = "newCustomer.contactPerson" >
           </md-input-container>
         </div>
       </div>

       <div layout-gt-sm="row" >
         <div layout-gt-sm="row" flex="50">
           <md-input-container class="md-block" >
             <label>Contact Number</label>
             <input md-input [(ngModel)] = "newCustomer.contactNumber" >
           </md-input-container>
         </div>
       </div>

       <div class="tableClass" layout-padding>
         <h4>Shipping Address</h4>
         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" >
               <label>Line1</label>
               <input md-input [(ngModel)] = "newCustomer.shippingAddress.line1" >
             </md-input-container>
           </div>
           <div layout-gt-sm="row" >
             <md-input-container class="md-block" >
               <label>Line2</label>
               <input md-input [(ngModel)] = "newCustomer.shippingAddress.line2" >
             </md-input-container>
           </div>
         </div>
         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" >
             <md-input-container class="md-block" >
               <label>Pincode</label>
               <input md-input [(ngModel)] = "newCustomer.shippingAddress.pinCode" >
             </md-input-container>
           </div>
           <div layout-gt-sm="row" >
             <md-input-container class="md-block" >
               <label>City</label>
               <input md-input [(ngModel)] = "newCustomer.shippingAddress.city" >
             </md-input-container>
           </div>
         </div>
         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <select md-input [(ngModel)] = "newCustomer.shippingAddress.state" >
               <option>Maharashtra</option>
               <option>Goa</option>
               <option>Karnataka</option>
               <option>Utter Pradesh</option>
               </select>
             </md-input-container>
           </div>
         </div>

         <h4>Billing Address
           <label>
             <input type="checkbox" (click)="copyAddress()"/>
             Same as Shipping Address
           </label>
         </h4>

         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <label >Line1</label>
               <input md-input [(ngModel)] = "newCustomer.billingAddress.line1" >
             </md-input-container>
           </div>
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <label>Line2</label>
               <input md-input [(ngModel)] = "newCustomer.billingAddress.line2" >
             </md-input-container>
           </div>
         </div>

         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <label>Pincode</label>
               <input md-input [(ngModel)] = "newCustomer.billingAddress.pinCode" >
             </md-input-container>
           </div>
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <label>City</label>
               <input md-input [(ngModel)] = "newCustomer.billingAddress.city" >
             </md-input-container>
           </div>
         </div>

         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" flex="50">
             <md-input-container class="md-block" flex-gt-sm>
               <select md-input [(ngModel)] = "newCustomer.shippingAddress.state" >
                 <option selected>Maharashtra</option>
                 <option>Goa</option>
                 <option>Karnataka</option>
                 <option>Utter Pradesh</option>
               </select>
             </md-input-container>
           </div>
         </div>

         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" >
             <button md-button md-raised-button class="md-primary" (click)="createCustomer()">Add New</button>
           </div>
         </div>

         <div layout-gt-sm="row" >
           <div layout-gt-sm="row" >
             <button md-button md-raised-button class="md-primary">Cancel</button>
           </div>
         </div>
       </div>
       </div>
     </div>


  <div class="show-details">
    <span>Show Details</span>
  </div>
  <div class="customer-details">
    <div class="select-customer">
      <div class="header-details">
        <div flex class="client-section">
          <img class="client-img" src="app/share/images/company-logo/infosys.png">
        </div>
        <select  [(ngModel)]="selectedCustomerObject" (ngModelChange)="getCustomerDetails($event)">
          <option selected="selected">Choose Customer</option>
          <option *ngFor="#customer of allCustomers" [value]="customer._id">{{customer.fromCompany}}</option>
          <option>Add a New Customer</option>
        </select>
      </div>
    </div>
    <div class="checkout-section">
      <div class="checkout-wrap">
        <ul class="checkout-bar">
          <li class="visited first">
            <span>Order Received</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate1Changed($event)"
                            [selDate]="orderDate"></my-date-picker>
          </li>
          <li class="previous visited">
            <span>Order Placed</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate2Changed($event)"
                            [selDate]="orderPlacedDate"></my-date-picker>
          </li>
          <li class="active">
            <span>In Transit</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate3Changed($event)"
                            [selDate]="transitDate"></my-date-picker>
          </li>
          <li class="next">
            <span>Delivery</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate4Changed($event)"
                            [selDate]="completionDate"></my-date-picker>
          </li>
        </ul>
      </div>
    </div>
    <div class="assigned-customer">
      <div class="header-details">
        <div flex class="client-section">
          <img class="client-img" src="app/share/images/company-logo/infosys.png">
        </div>
        <select [(ngModel)]="selectedUser"  (ngModelChange)="getUserDetails($event)">
          <option selected="selected">Select User</option>
          <option *ngFor="#user of allUsers" [value]="user._id">{{user.firstName}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
