<div class="orders">
  <div class="create-customer-modal" *ngIf="isNewCustomerDivInvisible" >
     <div  id="openModal" class="modalDialog">
      <h3>Add New Customer <span (click)="isNewCustomerDivInvisible=false;" class="close">X</span></h3>
       <div class="tableClass">
         <h4>Customer Details</h4>
         <div class="row1">
            <div class="form-group">
              <input [(ngModel)] = "newCustomer.fromCompany" placeholder="Compnay Name">
            </div>
           <div class="form-group">
             <input [(ngModel)] = "newCustomer.contactPerson" placeholder="Contact Person">
           </div>
           <div class="form-group">
             <input [(ngModel)] = "newCustomer.contactNumber" placeholder="Contact Number">
           </div>
         </div>

         <h4>Shipping Address</h4>
         <div class="row1">
           <div class="form-group">
             <input [(ngModel)] = "newCustomer.shippingAddress[0].line1" placeholder="Line1">
           </div>
           <div class="form-group">
              <input [(ngModel)] = "newCustomer.shippingAddress[0].line2" placeholder="Line2">
           </div>
         </div>
         <div class="row1">
           <div class="form-group">
              <input [(ngModel)] = "newCustomer.shippingAddress[0].pinCode" placeholder="Pincode">
           </div>
           <div class="form-group">
              <input [(ngModel)] = "newCustomer.shippingAddress[0].city" placeholder="City">
           </div>
         </div>
         <div class="row1">
           <div class="form-group">
               <select  [(ngModel)] = "newCustomer.shippingAddress[0].state" >
               <option *ngFor="let state1 of listOfStates1" selected >{{state1}}  </option>
               </select>
           </div>
         </div>

         <h4>Billing Address
           <label>
             <input type="checkbox" (click)="copyAddress()"/>
             Same as Shipping Address
           </label>
         </h4>

         <div class="row1">
           <div class="form-group">
              <input [(ngModel)] = "newCustomer.billingAddress[0].line1" placeholder="Line1" >
           </div>
           <div class="form-group">
               <input [(ngModel)] = "newCustomer.billingAddress[0].line2" placeholder="Line2">
           </div>
         </div>

         <div class="row1">
           <div class="form-group">
               <input [(ngModel)] = "newCustomer.billingAddress[0].pinCode" placeholder="Pincode">
           </div>
           <div class="form-group">
               <input [(ngModel)] = "newCustomer.billingAddress[0].city" placeholder="City">
           </div>
         </div>

         <div class="row1">
           <div class="form-group">
               <select   [(ngModel)] = "newCustomer.billingAddress[0].state" >
                 <option *ngFor="let state of listOfStates2" selected>{{state}}  </option>
               </select>
           </div>
         </div>

         <button class="crate-button" (click)="createCustomer()">Add New</button>
        </div>
     </div>
   </div>

  <div class="show-details">
    <span (click)="showHideDetails()"><img src="./app/order/images/show-details.svg">Hide Details</span>
  </div>
  <div  class="customer-details">
    <div *ngIf="isShowDetail">
    <div class="select-customer">
      <div class="header-details">
        <div flex class="client-section">
          <img class="client-img" src="app/share/images/company-logo/infosys.png">
        </div>
        <!--<div>{{selectedCustomer.fromCompany}}</div>-->
        <select  [(ngModel)]="selectedCustomerString" (ngModelChange)="getCustomerDetails($event)" [class.notSelected]="isCustomerNotSelected">
          <option selected="selected">Choose Customer</option>
          <option *ngFor="let customer of allCustomers" [value]="customer._id">{{customer.fromCompany}}</option>
          <option>Add a New Customer</option>
        </select>
      </div>
    </div>
    <div class="checkout-section">
      <div class="checkout-wrap">
        <ul class="checkout-bar">
          <li class="visited first">
            <span>Order Received</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate1Changed($event)"
                            [selDate]="orderDate"></my-date-picker>
          </li>
          <li class="previous visited">
            <span>Order Placed</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate2Changed($event)"
                            [selDate]="orderPlacedDate"></my-date-picker>
          </li>
          <li class="active">
            <span>In Transit</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate3Changed($event)"
                            [selDate]="transitDate"></my-date-picker>
          </li>
          <li class="next">
            <span>Delivery</span>
            <my-date-picker [options]="myDatePickerOptions"
                            (dateChanged)="onDate4Changed($event)"
                            [selDate]="completionDate"></my-date-picker>
          </li>
        </ul>
      </div>
    </div>
    <div class="assigned-customer">
      <div class="header-details">
        <div flex class="client-section">
          <img class="client-img" src="app/share/images/company-logo/infosys.png">
        </div>
        <select [(ngModel)]="selectedUser" (ngModelChange)="getUserDetails($event)" >

          <option selected="selected">Select User</option>
          <option *ngFor="let user of allUsers" [value]="user._id">{{user.firstName}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
</div>
