<div class="orders">

  <div class="order-details">

    <div>
      <div layout="row" layout-wrap class="row-title">
        <div flex="35">
          Product

        </div>
        <div class="content-center1" flex="20">
          Variant
        </div>
        <div class="content-center1" flex="20">
          Quantity
        </div>
        <div class="content-center" flex="20">
          Action
        </div>
      </div>
      <div layout="row" *ngFor="#item of orderDetails" class="md-caption md-list-item-text order-row-list">

        <div flex="35">
          <h4 layout-margin>{{item.name}}</h4>
          <h4 layout-margin>{{item.detail}}</h4>
        </div>

        <div flex="20">
          {{item.variant}}
        </div>

        <div flex="20">
          <div class="add-item" *ngIf="item.availability == 'Available'">
            <button type='submit'
                    class='qtyminus'
                    (click)="item.qty=item.qty-1"
                    [disabled]="item.qty == 0">-</button>
            <input type='number'
                   [(ngModel)]="item.qty"
                   class='qty'>
            <button type='submit'
                    class='qtyplus'
                    (click)="item.qty=item.qty+1">+</button>
          </div>
        </div>

        <div class="content-center remove-button" flex="20">
          <button md-raised-button class="md-raised md-warn" (click)="removeItem(item)">
            <img src="app/order/images/ic_close.svg" />
          </button>
        </div>

      </div>
    </div>

  </div>
  <div layout-padding *ngIf="displayError == true">{{ errorMessage }}</div>
  <div layout-padding *ngIf="displaySuccess == true">{{ successMessage }}</div>

  <button md-raised-button class="button md-raised md-primary" (click)="confirmOrder()">Confirm Order</button>
  <button md-raised-button class="cancel button md-raised" (click)="cancelOrder()">Cancel</button>
  <button md-raised-button class="button md-raised" (click)="goToPrevious()">Previous</button>
</div>
