<div class="orders">

  <div layout="row" layout-xs="column" class="right-top-section">
    <div flex>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line col-order-detail">
          <img src="app/share/images/avtars/Swapnil.jpg" class="md-avatar" >
          <div class="md-list-item-text">
            <h2>Order Details</h2>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list layout="column" layout-padding layout-align="end end">
        <md-list-item class="md-3-line col-order-detail">
          <div class="md-list-item-text">
            <h3>Order Date : 24/01/15 </h3>
            <h3>Delivery Date : 02/02/15 </h3>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div layout="row" layout-xs="column" layout-padding class="assigned-section">
    <div flex class="assigned-select">
      <label flex>Assigned to :</label>
      <img src="app/order/images/chat-box.svg" class="chat-icon" >
    </div>
    <div flex class="status-update">
      <label flex>Status :</label>
      <div layout="column" layout-wrap>
        <div flex-xs="100" flex="50">
          <md-checkbox aria-label="Checkbox 1"></md-checkbox>
          <md-checkbox aria-label="Checkbox 1"></md-checkbox>
          <md-checkbox aria-label="Checkbox 1"></md-checkbox>
        </div>
      </div>
    </div>
    <div flex layout="row" layout-align="end start">
      Number of products : 84
    </div>
  </div>

  <div class="order-details">

    <div>
      <h3>Order Details: </h3>
      <h4>Company Name: [( currentOrder.companyName )]</h4>
      <h4>Order assigned to: Chetan U.</h4>
      <h4>Completion Date:{{currentOrder.completionDate}}</h4>
      <h4>remarks:{{currentOrder.remarks}}</h4>
      <h4>contact person:{{currentOrder.contactPerson}}</h4>
      <h4>vendor name:{{currentOrder.vendorName}}</h4>
      <h4>contact number:{{currentOrder.contactNumber}}</h4>
      <h4>shipping address:{{currentOrder.shippingAddress.line1}},{{currentOrder.shippingAddress.line2}}
        {{currentOrder.shippingAddress.pinCode}},{{currentOrder.shippingAddress.city}}
        ,{{currentOrder.shippingAddress.state}},{{currentOrder.shippingAddress.country}}</h4>
      <h4>billing address:{{currentOrder.billingAddress.line1}},{{currentOrder.billingAddress.line2}}
        {{currentOrder.billingAddress.pinCode}},{{currentOrder.billingAddress.city}}
        ,{{currentOrder.billingAddress.state}},{{currentOrder.billingAddress.country}}</h4>

      <div layout="row" class="md-caption">
        <div flex="20" layout-padding>
          <b>Product Name</b>
        </div>
        <div flex="20" layout-padding>
          <b>Details</b>
        </div>
        <div flex="20" layout-padding>
          <b>Quantity</b>
        </div>
        <div flex="20" layout-padding>
          <b>Unit Cost</b>
        </div>
        <div flex="20" layout-padding>
          <b>Total Price</b>
        </div>
      </div>

      <div layout="row" *ngFor="#item of currentOrder.items" class="md-caption">
        <div flex="20" layout-padding>
          {{item.name}}
        </div>
        <div flex="20" layout-padding>
          {{item.detail}}
        </div>
        <div flex="20" layout-padding>
          {{item.quantity}}
        </div>
        <div flex="20" layout-padding>
          {{item.unitPrice}}
        </div>
        <div flex="20" layout-padding>
          {{totalPrice}}
        </div>
      </div>

    </div>

  </div>
  <button md-raised-button class="md-primary" (click)="editOrder()" flex="auto">Edit</button>

</div>
