<div class="orders">
  <div class="place-order">
  <h3 layout-padding>Order Details: </h3>
  <div layout-gt-sm="column">
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Company Name:</label>
      <h3 flex="65">{{ customer.fromCompany}}</h3>
    </div>
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Order assigned to:</label>
      <h3 flex="65">{{ currentOrder.defaultTask.assignedTo.firstName}}</h3>
    </div>
  </div>

  <div layout-gt-sm="column">
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Completion Date:</label>
      <h3 flex="65">{{currentOrder.completionDate | date}}</h3>
    </div>
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Remarks:</label>
      <h3 flex="65">{{currentOrder.remarks}}</h3>
    </div>
  </div>

  <div layout-gt-sm="column">
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Contact Person:</label>
      <h3 flex="65">{{customer.contactPerson}}</h3>
    </div>
  </div>

  <div layout-gt-sm="column">
    <div class="md-block" flex="100" layout-padding layout="row">
      <label flex="35">Contact Number:</label>
      <h3 flex="65">{{customer.contactNumber}}</h3>
    </div>
  </div>

  <div layout-gt-sm="column">
    <div class="md-block address-section" flex="100" layout-padding layout="row">
      <label flex="35">Shipping Address:</label>
      <h3 flex="65">
        <span>{{customer.shippingAddress[0].line1}},</span>
        <span>{{customer.shippingAddress[0].line2}},</span>
        <span>{{customer.shippingAddress[0].city}} - {{customer.shippingAddress[0].pinCode}},</span>
        <span>{{customer.shippingAddress[0].state}}</span>
      </h3>
    </div>
    <div class="md-block address-section" flex="100" layout-padding layout="row">
      <label flex="35">Billing Address:</label>
      <h3 flex="65">
        <span>{{customer.billingAddress[0].line1}},</span>
        <span>{{customer.billingAddress[0].line2}},</span>
        <span>{{customer.billingAddress[0].city}} - {{customer.billingAddress[0].pinCode}},</span>
        <span>{{customer.billingAddress[0].state}}</span>
      </h3>
    </div>
  </div>

  <div class="order-details" style="height: auto">
    <div layout="row" layout-wrap class="row-title">
      <div flex="50">
        Product
      </div>
      <div class="content-center1" flex="30">
        Variant
      </div>
      <div class="content-center1" flex="20">
        Quantity
      </div>
    </div>

    <div layout="row" *ngFor="#item of currentOrder.items" class="md-caption md-list-item-text order-row-list">
      <div flex="50">
        <h4>{{item.name}}</h4>
        <h4>{{item.detail}}</h4>
      </div>
      <div flex="30">
        {{item.variant}}
      </div>
      <div flex="20">
        {{item.qty}}
      </div>
    </div>
  </div>
</div>
  <div layout-padding *ngIf="displayError">{{ errorMessage }}</div>
  <div layout-padding *ngIf="displaySuccess">{{ successMessage }}</div>
  <button md-raised-button class="button md-raised md-primary" *ngIf="!displaySuccess" (click)="placeOrder()">Place this Order</button>
  <button md-raised-button class="cancel button md-raised" *ngIf="!displaySuccess" (click)="cancelOrder()">Cancel</button>
  <button md-raised-button class="button md-raised" *ngIf="!displaySuccess" (click)="goToPrevious()">Previous</button>
  </div>
