<!--
<div class="orders">
  <or-order-header [currentOrder]="currentOrder"></or-order-header>
  <or-preview-current-order *ngIf="!editMode" [currentOrder]="currentOrder" [editMode]="editMode" (editModeSet)="onEditModeChange($event)"></or-preview-current-order>

  <div>
  <div layout-padding *ngIf="displayMessage == true">{{ message }}</div>
  <button md-raised-button class="button md-raised md-primary"
          (click)="goToEditOrder()">Edit Order</button>
  <button md-raised-button class="button md-raised md-primary"
          (click)="saveOrder()">Save Order</button>
  </div>

  <or-edit-order *ngIf="editMode" [currentOrder]="currentOrder" [(editMode)]="editMode" (editModeSet)="onEditModeChange($event)"></or-edit-order>
  <div>
    <div layout-padding *ngIf="displayMessage == true">{{ message }}</div>
    <button md-raised-button class="button md-raised md-primary"
            (click)="cancelEdit">Cancel</button>
    <button md-raised-button class="button md-raised md-primary"
            (click)="editOrder()">Confirm</button>
  </div>
</div>
-->

<div class="orders">
  <or-order-header [currentOrder]="currentOrder"></or-order-header>
  <or-preview-current-order *ngIf="!edit" [currentOrder]="currentOrder"></or-preview-current-order>

  <div  *ngIf="!edit">
    <div layout-padding *ngIf="displayMessage">{{ message }}</div>
    <button md-raised-button class="button md-raised md-primary"
            (click)="edit = true">Edit Order</button>
    <button md-raised-button class="button md-raised md-primary"
            (click)="editOrder()">Save Order</button>
  </div>

  <or-edit-order *ngIf="edit" [currentOrder]="currentOrder"></or-edit-order>
  <div *ngIf="edit">
    <div layout-padding *ngIf="displayMessage">{{ message }}</div>
    <button md-raised-button class="button md-raised md-primary"
            (click)="edit = false">Cancel</button>
    <button md-raised-button class="button md-raised md-primary"
            (click)="editOrder()">Confirm</button>
  </div>
</div>
