<div layout="row" layout-md="column" layout-fill layout-align="top center" >
  <md-content flex class="inbox-section"flex-xs="100" flex-sm="100" flex-md="50" flex-gt-lg="60">
    <div class="left-section">
      <div class="assign-order" layout="row" >
        <span> Sort By: </span>
        <div layout="row" flex >
          <select>
            <option value="" class="" selected="selected">Select Sort Option:</option>
            <option value="" label="Company Name">Company Name</option>
            <option value="" label="Delivery Date">Delivery Date</option>
            <option value="" label="Order Date">Order Date</option>
            <option value="" label="Lead Type">Lead Type</option>
            <option value="" label="Order Status">Order Status</option>
          </select>
        </div>
        <div layout="row" layout-align="end none" >
          <span> Leads </span>
          <md-switch flex layout-fill  aria-label="Switch 1"></md-switch>
        </div>
      </div>

      <md-list class="inbox-list">
        <div *ngFor="#item of (itemList | inboxFilter:'filterBy': filterBy )" (click)="navigateTo(item)" >
          <ib-email-compact-view [email]="item" *ngIf="item.type == 'Email'"></ib-email-compact-view>
          <ib-order-compact-view [order]="item" *ngIf="item.type == 'Order'"></ib-order-compact-view>
          <ib-audio-compact-view [audioContent]="item" *ngIf="item.type == 'AudioContent'"></ib-audio-compact-view>
          <md-divider></md-divider>
        </div>
      </md-list>
    </div>
  </md-content>
  <div layout="column" layout-fill layout-align="top center" hide-xs hide-sm hide-md hide-lg flex-gt-lg="40">
    <div class="left-section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
