/*.tableClass{
  float: left;
  width: 40%;
  height: 500px;
  overflow-y: scroll;
}

.tableClass table {
  width: 100%;
}

.tableClass tr.title-lebel {
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
}

.tableClass tr td {
  border: 1px solid #ccc;
  padding: 5px;
}

.inbox{
  float: left;
  width: 38%;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
  height: 600px;
  overflow-y: scroll;
}

.inboxButton{
  width: 150px;
  height: 30px;
}

.createOrderSection {

  text-align:center;
}
.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
*/


