<div layout="row" layout-fill layout-align="top center" flex>

  <md-content>
    <div> Sort By:
      <select>
        <option value="" class="" selected="selected">Select Sort Option:</option>
        <option value="" label="Company Name">Company Name</option>
        <option value="" label="Delivery Date">Delivery Date</option>
        <option value="" label="Order Date">Order Date</option>
        <option value="" label="Lead Type">Lead Type</option>
        <option value="" label="Order Status">Order Status</option>
      </select>
    </div>
    <md-list>
      <div *ngFor="#item of itemList">
        <ib-email-compact-view [email]="item" *ngIf="item.type == 'Email'"></ib-email-compact-view>
        <ib-order-compact-view [order]="item" *ngIf="item.type == 'Order'"></ib-order-compact-view>
        <ib-audio-compact-view [audioContent]="item" *ngIf="item.type == 'AudioContent'"></ib-audio-compact-view>
        <md-divider></md-divider>
      </div>
    </md-list>
  </md-content>
  <ib-create-order flex>Loading...</ib-create-order>
</div>
