.assign-order {
  background:#EAEAEA;
  box-shadow: 1px 4px 6px #ccc;
  margin-bottom: 5px;
  padding: 0px 10px;
}
.assign-order span {
	margin: 5px 0px 0px;
  font-size: 14px;
}
.assign-order md-switch {
  margin: 0 0 0 15px;
}
select {
  font-size: 14px;
}
.inbox-list {
  padding: 0px;
}
md-list-item {
  cursor: pointer;
}
.inbox-list:hover{
backgroud:#EAEAEA;
}
.inbox-section {
  height: 94vh;
  overflow: auto;
  overflow-x: hidden;
}
.left-section {
  height: 93vh;
  overflow: auto;
  overflow-x: hidden;
}

.active {
  backgroud-color: blue;
}
