<md-list-item class="md-3-line email-compact"  >
  <div > </div>
  <div class="client-section">
    <span><img src="app/inbox/images/email.png"> </span>
    <img [src]="'app/share/images/company-logo/'+email.fromCompany + '.png'" class="md-avatar client-img" alt="{{email.from}}"/>
  </div>
  <div class="md-list-item-text" layout="column" (click)="showDetails = !showDetails">
    <h3 class="list-label">{{ email.subject }}</h3>
    <h4>{{ email.from[0].address }}</h4>
    <p>{{ email.priority }}</p>
    <p>{{ email.defaultTask.assignedTo }}</p>
  </div>
  <md-list-item class="md-2-line user-avtar">
    <img [src]="'app/share/images/avtars/'+email.defaultTask.assignedTo + '.jpg'" class="md-avatar" alt="{{email.defaultTask.assignedTo}}"/>
    <span flex> {{email.defaultTask.assignedOn | amTimeAgo}}</span>
  </md-list-item>
  <p class="delivery-date ">Delivery by {{email.defaultTask.completeBy|date }}</p>
</md-list-item>

<!--<div *ngIf="showDetails == true">
  <div layout="row" layout-xs="column">
    <div flex>
      <h3>Content </h3>
      <div>{{ email.body}}</div>
    </div>
    <div flex>
      <h3>Attachments</h3>
      <iframe src="app/inbox/images/LicenseCertificate.pdf" style="width:100%; height:500px;" frameborder="0"></iframe>
    </div>
  </div>
</div>-->



<div *ngIf="showDetails == true">
  <md-tabs md-dynamic-height md-border-bottom>
    <template md-tab label="Content">
      <md-content class="md-padding">

        <p [innerHTML]="email.html"></p>
        <button md-raised-button class="button md-primary" (click)="reply = !reply">Reply</button>
        <div class="reply-content" *ngIf="reply == true">
          <md-input-container layout="row" flex="100">
            <input md-input type="text" id="content" value="{{ email.from[0].address }}" >
          </md-input-container>
          <md-input-container layout="row" flex="100" class="md-block" >
            <textarea [(ngModel)] = "replyText" rows="5" ></textarea>
          </md-input-container>
          <section layout="row" class="text-editor" layout-sm="column" layout-wrap>
            <md-button flex="80">
              <md-icon><img class="" src="app/inbox/images/text-style.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/bold.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/italic.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/underline.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/alignment.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/numbers.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/bullets.svg"></md-icon>
              <md-icon><img class="" src="app/inbox/images/attachment.svg"></md-icon>
            </md-button>
            <section layout="row" flex="20" layout-sm="column" layout-align="end start" layout-wrap>
              <button md-raised-button class="button" (click)="reply = !reply">Cancel</button>
              <button md-raised-button class="md-primary button" (click)="sendReply()">Send</button>
            </section>
          </section>
        </div>
      </md-content>
    </template>
    <template md-tab label="Attachments">
      <md-content class="md-padding">
        <!--<iframe src='http://localhost:5000/{{email.attachments[0].fileName}}' style="width:100%; height:500px;" frameborder="0"></iframe>-->
        <ul>
          <li *ngFor="#attachment of email.attachments">
            <iframe src='http://localhost:5000/{{attachment.fileName}}' style="width:100%; height:500px;" frameborder="0"></iframe>
          </li>
        </ul>
      </md-content>
    </template>
  </md-tabs>
</div>


