<div class="email-compact" [class.active]="selected == email.id" >
  <div > </div>
  <div class="client-section" style="width:80px;float:left;">
    <span><img src="app/inbox/images/email.png"> </span>
    <img [src]="'app/share/images/company-logo/'+email.fromCompany + '.png'" class="client-img" alt="{{email.from}}"/>
  </div>
  <div class="list-containt" (click)="showDetails = !showDetails">
    <p class="list-label">{{ email.subject }}</p>
    <p>{{ email.from[0].address }}</p>
    <p>{{ email.priority }}</p>
    <p>{{ email.defaultTask.assignedTo.firstName }}</p>
  </div>
  <div class="user-right-section">
    <div class="user-avtar">
      <img [src]="'app/share/images/avtars/'+email.defaultTask.assignedTo.firstName + '.jpg'" alt="{{email.defaultTask.assignedTo.firstName}}"/>
      <span flex> {{email.defaultTask.assignedOn | amTimeAgo}}</span>
    </div>
    <p class="delivery-date ">Delivery by {{email.defaultTask.completeBy|date }}</p>
  </div>
</div>

<div *ngIf="showDetails == true">
  <div>
    <p [innerHTML]="email.html" class="client-conversation"></p>
    <div *ngFor="let message of email.conversation">
      <div *ngIf="message.by=='User'" class="user-conversation">
        <p> {{message.text}}</p>
      </div>
      <div *ngIf="message.by=='Client'" class="client-conversation">
        <p [innerHTML]="message.html"></p>
      </div>
    </div>

    <button class="oa-button" (click)="reply = !reply">Reply</button>
    <div class="reply-content" *ngIf="reply == true">
      <input type="text" id="content" value="{{ email.from[0].address }}" >
      <textarea [(ngModel)] = "replyText" rows="5" ></textarea>
      <section layout="row" class="text-editor" layout-sm="column" layout-wrap>
        <div class="rich-texteditor-icon">
          <span><img src="app/inbox/images/text-style.svg"></span>
          <span><img src="app/inbox/images/bold.svg"></span>
          <span><img src="app/inbox/images/italic.svg"></span>
          <span><img src="app/inbox/images/underline.svg"></span>
          <span><img src="app/inbox/images/alignment.svg"></span>
          <span><img src="app/inbox/images/numbers.svg"></span>
          <span><img src="app/inbox/images/bullets.svg"></span>
          <span><img src="app/inbox/images/attachment.svg"></span>
        </div>
        <section class="reply-button">
          <button class="oa-button primary-btn" (click)="reply = !reply">Cancel</button>
          <button class="oa-button sec-primary-btn" (click)="sendReply()">Send</button>
        </section>
      </section>
    </div>
  </div>
  <div>
    <!--<iframe src='http://localhost:5000/{{email.attachments[0].fileName}}' style="width:100%; height:500px;" frameborder="0"></iframe>-->
    <ul>
      <li *ngFor="let attachment of email.attachments">
        <iframe src='http://localhost:5000/{{attachment.fileName}}' style="width:100%; height:500px;" frameborder="0"></iframe>
      </li>
    </ul>
  </div>
</div>


