@import "../../../app/variable.scss";

.assign-order {
  background:$oa-default-color-4;
  box-shadow: 1px 4px 6px $oa-default-color-5;
  padding: 0px 10px;
  display: inline-block;
  width: 100%;
  span {
    margin: 5px 0px 0px;
    font-size: 14px;
    float: left;
  }
  select {
    font-size: 14px;
    float: left;
    padding: 3px;
  }
}
.inbox-list {
  padding: 0px;
  cursor: pointer;
  &:hover {
    backgroud:$oa-default-color-4;
  }
}
.inbox-section {
  height: 94vh;
  overflow: auto;
  overflow-x: hidden;
}
.left-section {
  height: 93vh;
  overflow: auto;
  overflow-x: hidden;
  width: 40%;
  float: left;
  background: $oa-default-color-4;
}
.right-section {
  float: left;
  width: 60%;
  height: 93vh;
}
.client-img{
  padding: 10px;
  border:1px solid $oa-default-color-6;
  margin:5px 10px 0px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.list-containt {
  width: 64%;
  display: inline-block;
  height: auto;
  p {
    margin: 4px 0px;
    font-size: 14px;
    word-wrap: break-word;
  }
}
.user-right-section {
  float: right;
  .user-avtar {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
.client-section {
  position: relative;
  span img {
    position: absolute;
    right: 16px;
    top: 8px;
  }
}
.pending{
  position: absolute;
  left: 0px;
  height: 96%;
  width: 5px;
  background: red;
}
.delivery-date{
  position: absolute;
  right: 10px;
  bottom: 4px;
  font-size: 11px;
  text-align: right;
  background: $oa-default-color-8;
  margin: 0px;
}
.user-avtar {
  margin:5px 10px 0px 0px;
  span {
    padding: 9px 0px 0px 8px;
    font-size: 11px;
    float: right;
  }
}
.email-compact,
.audio-compact,
.order-compact {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1px 0px 4px 0px;
  border-bottom: 1px solid $oa-default-color-5;
}
.active {
  background-color: #EAEAEA;
}
.disabled {
  color: gray;
  border: medium solid $oa-default-color-5;
}
.user-avtar {
  div {
    padding: 0px !important;
  }
}
audio {
  width: 80%;
}
audio::-webkit-media-controls-play-button {
  color: green;
}
audio::-webkit-media-controls-panel {
  background: none;
}
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none;
}
audio::-moz-media-controls-panel {
  background: none;
}
audio::-moz-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none;
}
.oa-button {
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 26px;
  min-height: 26px;
  background: 0 0;
  white-space: nowrap;
  min-width: 88px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(16,108,200);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: #FFF;
  border: 0;  
}
.sec-primary-btn {
  background: #fff;
  color: rgba(0, 0, 0, 0.87059);
}
.reply-button {
  float: right;
  button {
    margin: 0px;
  }
}
.reply-content {
  min-height:175px;
  border:1px solid $oa-default-color-5;
  margin-top: 10px;
  padding: 10px;
  .text-editor {
    background:$oa-default-color-5;
    height: 29px
  }
  input {
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 6px 0;
    width: 100%;
  }
  textarea {
    width:100%;
    border:0px;
    resize: none;
  }
  .rich-texteditor-icon {
    span {
      img {
        width: 20px;
        height: 28px;
        float: left;
        margin-left: 10px;
      }
    }
  }
}
.client-conversation {
  display: inline-block;
  width: 100%;
  p {
    background: #FFFFE7;
    display: inline-block;
    float: right;
    min-height: 30px;
    margin: 0px;
    padding: 15px;
    font-size: 14px;
  }
}
.user-conversation {
  display: inline-block;
  width: 100%;
  p {
    background: #E7FCFF;
    display: inline-block;
    float: left;
    min-height: 30px;
    margin: 0px;
    padding: 15px;
    font-size: 14px;
  }
}
/* Plese move to header component css */
oa-header {
  background: transparent url("../app/inbox/images/header-bg.png") repeat-x scroll 0 0 / 100% 100%;
  min-height: 34px;
  height: 34px;
  display: inline-block;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .client-img {
    margin: 5px 10px 0px 10px;
  }
  .delivery-date {
    font-size: 10px;
  }
  .list-containt{
    width: 38%;
  }
}
