$ca-light-gray: #EAEAEA;
$ca-gray: #cccccc;
$ca-dark-gray: #b7b7b7;
$ca-drak-yellow: #FFFACD;
$ca-text-editor-bg: #b2b2b2;

.assign-order {
  background:$ca-light-gray;
  box-shadow: 1px 4px 6px $ca-gray;
  margin-bottom: 5px;
  padding: 0px 10px;
  span {
    margin: 5px 0px 0px;
    font-size: 14px;
  }
  md-switch {
    margin: 0 0 0 15px;
  }
  select {
    font-size: 14px;
  }
}
.inbox-list {
  padding: 0px;
  cursor: pointer;
  &:hover {
    backgroud:$ca-light-gray;
  }
}
.inbox-section {
  height: 94vh;
  overflow: auto;
  overflow-x: hidden;
}
.left-section {
  height: 93vh;
  overflow: auto;
  overflow-x: hidden;
}
.client-img{
  padding: 10px;
  border:1px solid $ca-dark-gray;
  margin:5px 20px 0px 30px;
}
.client-section {
  position: relative;
  span img {
    position: absolute;
    right: 16px;
    top: 8px;
  }
}
.md-list-item-text h3.list-label {
  width: 90%;
}
.pending{
  position: absolute;
  left: 0px;
  height: 96%;
  width: 5px;
  background: red;
}
.delivery-date{
  position: absolute;
  right: 10px;
  bottom: 13px;
  font-size: 11px;
  text-align: right;
  background: $ca-drak-yellow;
}
.user-avtar {
  margin-right: 10px;
  span {
    padding: 15px 0;
    font-size: 11px;
  }
}
.md-3-line {
  min-height: inherit;
}
.email-compact {
  cursor: pointer;
}
.active {
  background-color: #EAEAEA;
}
.disabled {
  color: gray;
  border: medium solid $ca-gray;
}
.user-avtar {
  div {
    padding: 0px !important;
  }
}
audio {
  width: 80%;
}
audio::-webkit-media-controls-play-button {
  color: green;
}
audio::-webkit-media-controls-panel {
  background: none;
}
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none;
}
audio::-moz-media-controls-panel {
  background: none;
}
audio::-moz-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none;
}
.button {
  text-transform: capitalize;
  padding: 1px 10px;
  line-height: 28px;
  border-radius: 0;
  margin:0px;
  box-shadow: 0px 0px 0px;
}
.reply-content {
  min-height:175px;
  border:1px solid $ca-gray;
  margin-top: 10px;
  md-input-container {
    padding : 0px 15px;
    margin:0px;
  }
  .text-editor {
    background:$ca-text-editor-bg;
    height: 29px
  }
  md-icon {
    height: 24px;
    padding: 5px 2px;
    width: 20px;
  }
}
textarea {
  width:100%;
  border:0px;
}
.client-conversation {
  display: inline-block;
  width: 100%;
  p {
    background: #FFFFE7;
    display: inline-block;
    float: right;
    min-height: 30px;
    margin: 0px;
    padding: 15px;
    font-size: 14px;
  }
}
.user-conversation {
  display: inline-block;
  width: 100%;
  p {
    background: #E7FCFF;
    display: inline-block;
    float: left;
    min-height: 30px;
    margin: 0px;
    padding: 15px;
    font-size: 14px;
  }
}
md-list-item {
  .md-avatar {
    width: 30px;
    height: 30px;
  }
}

/* Plese move to header component css */
md-toolbar.toolbar {
  background: transparent url("../app/inbox/images/header-bg.png") repeat-x scroll 0 0 / 100% 100%;
  min-height: 34px;
  height: 34px;
}

md-sidenav-container.md-pushed{
  padding-left: 200px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
