.search {
  height: 27px;
  margin: 3px;
  background: rgba(255, 255, 255, 0.4);
  border: 0px;
  color: #fff;
  font-size: 16px;
  padding: 0px 5px;
}
md-button {
  margin: 2px 5px;
  text-transform: capitalize;
  line-height: 26px;
  min-width: 58px;
	padding: 0 6px;
}
md-icon {
	height: 21px;
	width: 18px;
	margin: 6px 0;
}
.selbtngroup {
  display: none;
}
.logo {
  margin: 0px;
}
.logo img {
  float: left;
  width: 30px;
}
.my-account {
  width: 40px;
  min-width: 38px;
}
.my-account .user-avtar {
  width: auto;
  float: right;
}
.my-account .user-avtar img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
.menu-dropdown {
  position: fixed;
  background: #831D27;
  padding: 10px;
  z-index: 1;
  display: none;
  top: 32px;
  min-width: 120px;
}

.menu-dropdown ul {
  margin: 0px;
  padding: 0px;
}
.menu-dropdown ul li {
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: block;
  border-bottom: 1px solid #A54E56;
}
.master-btn:hover .menu-dropdown {
  display: block !important;
}

.my-account:hover .menu-dropdown {
  display: block !important;
}

.my-account .menu-dropdown {
  right: 0px;
}