@import "../../../app/variable.scss";

.search {
  height: 27px;
  margin: 3px;
  background: $oa-default-transparent;
  border: 0px;
  color: $oa-default-color-3;
  font-size: 16px;
  padding: 0px 5px;
  width: 30%;
}
.selbtngroup {
  display: none;
}
.logo {
  margin: 0px;
  img {
    float: left;
    width: 30px;
  }
}
nav {
  float: right;
  ul {
    padding: 0px;
    margin: 0px;
    float: left;
    li {
      float: left;
      padding: 0px;
      margin: 0px 7px;
      display: block;
      height: 34px;
      line-height: 34px;
      cursor: pointer;
      img {
        width: 20px;
        height: 14px;
        padding: 10px 2px;
        float: left;
      }
      span {
        color: $oa-default-color-3;
        font-weight: normal;
      }
    }
    .my-account {
      width: 40px;
      min-width: 38px;
      margin: 3px 7px 0 0;
      .user-avtar {
        width: auto;
        float: right;
        img {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          padding: 0px;
        }
      }
      &:hover {
        .menu-dropdown {
          display: block !important;
        }
      }
      .menu-dropdown {
        right: 0px;
      }
    }
    .menu-dropdown {
      position: fixed;
      background: $oa-default-color-1;
      padding: 10px;
      z-index: 1;
      display: none;
      top: 32px;
      max-width: 120px;
      z-index: 999;
      ul {
        margin: 0px;
        padding: 0px;
        li {
          margin: 0px;
          padding: 0px;
          text-align: left;
          display: block;
          border-bottom: 1px solid $oa-default-color-2;
          width: 100%;
        }
      }
    }
    .master-btn {
      &:hover {
        .menu-dropdown {
          display: block !important;
        }
      }
    }
  }
}
