<h1 class="logo"><img src="app/share/images/logo.png"></h1>
<input type="search" name="search" #search class="search" md-maxlength="10" (keyup)="onSearchChange(search.value)">
<nav>
  <ul>
    <li>
      <img class="" src="app/share/images/orders.svg">
      <span>My Orders</span>
    </li>
    <li>
      <img class="" src="app/share/images/leads.svg">
      <span>Leads</span>
    </li>
    <li class="master-btn">
      <img class="" src="app/share/images/orders.svg">
      <span>Master</span>
      <div class="menu-dropdown">
        <ul>
          <li><span>Products</span></li>
          <li><span>Customers</span></li>
        </ul>
      </div>
    </li>
    <li [routerLink]="['/Inbox', {'showHistory':true}]">
      <img class="" src="app/share/images/orders.svg">
      <span>History</span>
    </li>
    <li>
      <img class="" src="app/share/images/orders.svg">
      <span>My Orders</span>
    </li>
    <li class="my-account">
      <div class="user-avtar">
        <img class="md-user-avatar" src="app/share/images/avtars/Swapnil.jpg"/>
      </div>
      <div class="menu-dropdown">
        <ul>
          <li><span>Notes</span></li>
          <li><span>Account Setting</span></li>
          <li (click)="logout()"><span>Logout</span></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
