@import "../../../app/variable.scss";

.login-section {
	background-image: url("../app/share/images/login-screen-bg.png");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-size: 100% 100%;
	position: fixed;
}
.login-area {
	border-style: solid;
	height: 100vh;
	text-align: center;
	width: 100%;
	&:before {
		content: ' ';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}
#account-settings {
	max-width: 475px;
	min-width: 475px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}
.login-logo {
	width: 194px;
	float: left;
	border-right: 1px solid $oa-default-color-3;
	margin-right: 30px;
	height: 180px;
	label {
		float: left;
		color: $oa-default-color-3;
	}
}
.login-form {
	width: 210px;
	float: left;
	margin-left: 15px;
    margin-top: 28px;
	label {
		float: left;
		color: $oa-default-color-3;
	}
	.form-control {
		margin-bottom: 8px;
		background: $oa-default-transparent;
		border: 0px solid $oa-default-transparent;
		width: 100%;
		height: 28px;
		text-indent: 6px;
		color: $oa-default-color-3;
	}
	button {
		margin-bottom: 8px;
		background: $oa-default-transparent;
		border: 1px solid $oa-default-transparent;
		width: 100%;
		height: 32px;
		margin-top: 10px;
		color: $oa-default-color-3;
	}
	a {
		width: 100%;
		display: inline-block;
		text-align: right;
		margin-top: 10px;
		color: $oa-default-color-3;
	}
}
/*checkout bar css */
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $oa-default-color-3;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $oa-default-color-3;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $oa-default-color-3;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $oa-default-color-3;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $oa-default-color-32 inset;
    border: 0;
}