$oa-search-bg: rgba(255, 255, 255, 0.4);
$oa-dropdown-bg: #831D27;
$oa-dropdown-list-bg: #A54E56;
$oa-white: #ffffff;
$oa-light-gray: #EAEAEA;
$oa-gray: #cccccc;
$oa-dark-gray: #b7b7b7;
$oa-drak-yellow: #FFFACD;
$oa-text-editor-bg: #b2b2b2;